*, *:before, *:after {
    box-sizing: border-box;
    font-family: Lato, FontAwesome, Arial, sans-serif;
    font-weight: 300;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    line-height: 1.5;
    margin: 0;
    font-size: 1em;
}

h1 {
    font-weight: 900;
    font-size: 1.5em;
    margin:  5px 0;
}

h3 {
    font-weight: 700;
    font-size: 1.2em;
    margin:  5px 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

aside {
    overflow: hidden;
    width: 25%;
    float: left;
    height: auto;
    z-index: 1;
    position: fixed;
    padding: 10px;
}

.links {
  display:  inline-block;
  margin:  auto;
}

.links a:link {
  color:  grey;
}

.links a:visited {
  color:  grey;
}

.links a:hover {
  color:  #6897bb;
}

#skills_section {
  display: table;
}

.skill {
  display: block;
  overflow:  hidden;
  float: left;
  width:  20%;
  height: 150px;
  vertical-align: middle;
  padding:  0;
}

.skill p {
  text-align:  left;
  padding:  0;
}

main {
    overflow: hidden;
    width: 75%;
    float: right;
    padding: 10px 0;
}

#name, #title {
    padding: 0;
    display: block;
    margin: auto;
}

aside {
  background-color:  light-grey;
  height:  100%;
}

aside a {
    display:  inline;
    margin:  auto;
}

aside a:link {
  color:  grey;
}

aside a:visited {
  color:  grey;
}

aside a:hover {
  color:  #6897bb;
}


skills_section {
  display:  block;
  margin: auto;
}

#image {
    display: block;
    margin: auto;
    height: auto;
    width: auto;
    max-height: 120px;
    max-width: 120px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
    margin-bottom: 30px;
}

/*
Back to top from:  http://html-tuts.com/back-to-top-button-jquery/
*/

a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	position: fixed;
  background: #6897bb url("../img/cd-top-arrow.svg") no-repeat center 43%;
	z-index: 1;
	right: 40px;
	bottom: 40px;
}
