*, *:before, *:after {
    box-sizing: border-box;
    font-family: Lato, FontAwesome, Arial, sans-serif;
    font-weight: 300;
    padding: 0;
    color:  grey;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

h1 {
  font-weight: 900;
  font-size: 1.5em;
  margin:  5px 0;
}

h3 {
  font-weight: 700;
  font-size: 1.2em;
  margin:  5px 0;
}

header {
  text-align:  center;
  display:  block;
  padding:  80px 0;
  margin:  auto;
  background-color: grey;
}

section {
  text-align:  center;
  display:  block;
  padding:  80px 0;
  margin:  auto;
}

html {
    font-size: 16px;
}

body {
    line-height: 1.5;
    margin: 0;
    font-size: 1em;
}


a {
    text-decoration: none;
    padding: 0;
}

ul {
    list-style-type: none;
}

.social {
  display:  block;
  margin:  0;
  padding:  0;
  position:  fixed;
  top:  100px;
  width:  50px;
  z-index:  0;
  right:  0px;
}

.social a:link {
  color:  grey;
}

.social a:visited {
  color:  grey;
}

.social a:hover {
  color:  red;
}

.skill {
  display: block;
  overflow:  hidden;
  float: left;
  width:  20%;
  height: 150px;
  padding:  0;
}

.skill p {
  text-align:  left;
  padding:  0;
}

main {
    /*overflow: hidden;*/
    width: 100%;
    /*float: right;*/
    padding: 10px 0;
}

#name, #title {
    padding: 0;
    display: block;
    margin: auto;
    color: white;
}

nav {
  overflow: hidden;
  height: 45px;
  padding: 0;
  line-height: 40px;
  padding: 0 10px;
  margin: 0 auto;
  position: fixed;
  z-index: 2;
  width: 100%;
  color:  grey;
  border-bottom:  solid 1px grey;
  background-color:  white;
}

nav ul {
  padding:  0;
  margin:  0;
}

nav li {
  display: inline-block;
  padding:  0 10px;
}

nav a {
  display:  inline;
}

nav a:link {
  color:  grey;
}

nav a:visited {
  color:  grey;
}

nav a:hover {
  color:  #6897bb;
}

#skills_section {
  display:  inline;
  margin: auto;
}

#image {
    display: block;
    margin: auto;
    height: auto;
    width: auto;
    max-height: 120px;
    max-width: 120px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 30px;
}

/*
Back to top from:  http://html-tuts.com/back-to-top-button-jquery/
*/

a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	position: fixed;
  background: #6897bb url("../img/cd-top-arrow.svg") no-repeat center 43%;
	z-index: 1;
	right: 40px;
	bottom: 40px;
}

.pulse {
animation-name: pulse;
}
