*,
*:before,
*:after {
    box-sizing:  border-box;
    font-family:  Lato, Arial, sans-serif;
    font-weight:  300;
}

body {
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-weight:  900;
}

h3 {
  font-weight:  700;
}

a {
  text-decoration:  none;
}

ul {
  list-style-type: none;
}

aside {
  overflow: hidden;
  width:  25%;
  float: left;
  height:  auto;
  z-index: 1;
  position:  fixed;
}

main {
  overflow: hidden;
  width:  75%;
  float: right;
  padding: 10px;

}
